django
django-heroku
django-bootstrap4
django-redis

dash
dash-core-components
dash-html-components
dash-renderer
pandas
plotly
dpd-components

dash-bootstrap-components

channels==2.1.3
channels-redis

daphne

redis
twisted

psycopg2